@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.mainNav {
  font-family: "Kavoon", serif;
}
.mainNav a.active {
  color: #eca400;
}
.hero-section {
  font-family: "Kavoon", serif;
}
